<a href="https://colab.research.google.com/github/Kishankumar1328/CALENDER/blob/main/CALENDAR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import calendar

In [8]:
year=int(input("Enter the year="))
month=int(input("Enter the month="))

Enter the year=2005
Enter the month=5

In [10]:
print(calendar.month(year,month))

      May 2005
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31